ENVIRONMENT=local

SECRET_KEY=your_secret_key_here

ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:5000"]

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fastapi_starter
REDIS_URL=redis://localhost:6379/0

RESEND_API_KEY=re_your_api_key_here
RESEND_FROM_EMAIL=noreply@yourdomain.com

PASSWORD_RESET_TOKEN_TTL_MINUTES=30

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback

FRONTEND_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
